
$font-stack: "Roboto", sans-serif;
$title: "Shrikhand", sans-serif;
$primary: #FFD7D7;
$secondary: #FD2D01;

// form shadow
$box-shadow: 2px 2px 8px 3px ;

// button disabled blackround
$button-disabled :rgb(121, 120, 120) ;


// not used
$tertiary: #99e2d0;
$hint: #999;
$border: #ddd;


  