
$font-stack: "Roboto", sans-serif;
$title: "Shrikhand", sans-serif;
$primary: #FFD7D7;
$secondary: #FD2D01;
$border: #ddd;
$hint: rgb(66, 64, 64);

$box-shadow: 2px 2px 8px 3px ;
$textarea:rgba(128, 128, 128, 0.158);
// button disabled blackround
$button-disabled :rgb(121, 120, 120) ;


// not used
$tertiary: #99e2d0;




  